*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 100vh;
  background: url(./assets/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin: 0 25px;
  padding: 30px 5px;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-right: 30px;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 12px;
}

header nav ul li a:hover {
  border: 1px solid transparent;
  border-radius: 25px;
  background: #a5ccd8;
}

header .landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6%;
}

header .landing h1 {
  font-size: 40px;
  letter-spacing: 2.5px;
  color: white;
}

header .landing img {
  margin-top: 7%;
}

.container .transformContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .transformContainer .transform {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .transformContainer .transform .words {
  max-width: 70%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .transformContainer .transform .words h2 {
  font-size: 36px;
  color: #23303e;
}

.container .transformContainer .transform .words p {
  color: #25564b;
}

.container .transformContainer .transformImg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .transformContainer .transformImg img {
  max-width: 100%;
}

.container .standoutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .standoutContainer .standoutImg {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .standoutContainer .standoutImg img {
  max-width: 100%;
}

.container .standoutContainer .standout {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .standoutContainer .standout .words {
  max-width: 70%;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .standoutContainer .standout .words h2 {
  font-size: 36px;
  color: #23303e;
}

.container .standoutContainer .standout .words p {
  color: #25564b;
}

.container .designPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .designPhoto .design {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .designPhoto .design img {
  max-width: 100%;
}

.container .designPhoto .photography {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container .designPhoto .photography img {
  max-width: 100%;
}
/*# sourceMappingURL=style.css.map */