*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
}

header {
  height: 100vh;
  background: url(./assets/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
}

.container .transformContainer {
  display: flex;
}

.transformContainer .transform {
  flex: 1;
}

.transformContainer .transformImg {
  flex: 1;
}

.transformContainer .transformImg img {
  max-width: 100%;
}
